<form action="/answer">
  <div class="form-group">
    <label for="askQuestion"><h1 class="stupid-coach">Your question to the coach</h1></label>
    <input type="text" class="form-control" id="askQuestion" name="question" placeholder="Should I work today?">
  </div>
  <button type="submit" value="Ask" class="btn btn-default">Ask</button>
</form>
